@import 'fontface';

@include fontFace('CaviarDreams', '../fonts/CaviarDreams-webfont');
@import "compass";
@import "orbicular";
@import "player";
@import "view";
@import "modal";
/* unvisited link */
a:link {
  color: #18263a;
}

/* visited link */
a:visited {
  color: #333333;
}

/* mouse over link */
a:hover {
  color: #0a0a0a;
}

/* selected link */
a:active {
  color: #18263a;
}

/* Your app's CSS, go crazy, make it your own */
.bar.bar-header.bar-navigation {
  background-color: #f2f2f4;
}

.bar.bar-header.bar-header-menu {
  min-height: 150px;
  background-color: #fb2d5c;
  border-bottom-width: 0;
}

.menu.menu-left .has-header {
  top: 150px;
  background-color: #2b2f3e;
}

.menu.menu-left .has-header .list .item,
.menu.menu-left .has-header .list .item .item-content {
  background-color: transparent;
  color: #666666;
  border: none;
}

.bar .title {
  text-align: left;
}

.bar
.ionic-logo {
  display: block;

}

.row {
  //@include flex(0 1 50% !important);
}

.center-content.has-header {
  top: 0;
}

.center-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.center-content > * {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.item {
  max-width: 90%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
}

@media all and (orientation: landscape) {
  /*.center-content > * {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }*/
  .item.response {
    max-width: 90%;
    margin: 0 20px 0 30%;
  }
  .question {
    max-width: 30%;
  }
}

.question,
.validation,
.item-body {
  max-width: 80%;
  color: #FFF;
}

.question,
.validation {
  font-family: CaviarDreams;
  @include text-shadow(1px 1px 6px #333);
}

.question {
  position: absolute;
  padding: 0 10px 0 10px;
}

.validation {
}

//GAME
.game-container {
  width: 100%;
  position: relative;
  @include perspective(800px);
}

.game-container:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.game-card {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  @include transition(all 1s);
  @include transform-style(preserve-3d);
}

.game-card.flipped {
  @include transform(rotateY(180deg));
}

.game-card .game-face {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  @include backface-visibility(hidden);
  overflow: hidden;

}

.game-card .game-face img {
  width: 100%;
  height: 100%;
  @include border-radius(4px, 4px);
}

.game-card .game-face canvas {
  width: auto;
  height: 100%;
}

/*.game-card .game-face.player img,
.game-card .game-face.player canvas {
}*/

.game-card .game-face.back {
  @include transform(rotateY(180deg));
  box-sizing: border-box;

}
